@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
}
.row {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row .box {
  margin-top: 15px;
  width: 75%;
  background-color: rgb(251, 251, 251);
  box-shadow: 0px 0px 0px 5px #0000001e;
  padding: 40px;
}
.box h5 {
  font-size: 24px;
  font-weight: 600;
}
.box p {
  font-size: 17px;
  font-weight: 400;
}
